/* GENERAL RULES */
:root {
  --darkgreen: #192727;
  --green: #007679;
  --white: #ffffff;
  --title-big: 56px;
  --title-small: 36px;
  --text-big: 18px;
  --text-small: 16px;
  --bg-grey: rgba(77, 82, 82, 0.6);
}
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style-type: none;
}
body {
  height: 100vh;;
  width: 100vw;
}
h2 {
  font-size: var(--title-big);
  opacity: .9;
  color: var(--white)
}
p{
  font-size: var(--text-big);
  opacity: .9;
  color: var(--white)
}

@media only screen and (max-width: 860px){
  h2{
    font-size: var(--title-small)
  }
  p{
    font-size: var(--text-small);
  }
}
a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}
a:hover{
  color: var(--green);
}
input {
  border: none;
  outline: none;
}
button {
  border: 1px solid var(--white);
  background-color: var(--green);
  color: white;
}
button:hover{
  cursor: pointer;
  color: var(--green);
  background-color: var(--white);
  border: 1px solid var(--green);
}
.flex {
  display: flex;
}
/* NAVBAR */
.navbar {
  background-color: var(--darkgreen);
  padding: 20px;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
}

.navbar-logo i {
  transform: rotate(-40deg);
  font-size: 22px;
}

.navbar-link li {
  margin: 0 12px;
}

.navbar-search {
  background-color: var(--white);
  border-radius: 30px;
  height: 40px;
  width: 34%;
  padding: 0 10px;
  align-items: center;
}

.navbar-search input {
  width: 72%;
}

.navbar button {
  width: 20%;
  height: 78%;
  margin-left: 4px;
  border-radius: 30px;
}
/* MAIN - BackGround */
main {
  background-image: 
  linear-gradient(0.25turn, rgba(0, 118, 121, .9), rgba(117, 19, 93, 0.1)),
  url('./media/city-skyline.jpg');
  height: 90vh;
  width: 100%;
  position: relative;
  background-size: cover;
}
/* MAIN - Social Icons */
.social-icons {
  height: 100%;
  flex-direction: column;
  align-items: center;
  width: 5%;
}

.social-icons span {
  background-color: var(--white);
  height: 40%;
  width: 1px;
  opacity: .8;
  margin: 40px 0;
}

.social-icons .fa-brands {
  font-size: 28px;
  opacity: .8;
  margin: 20px 0;
}
/* MAIN - Sections General */
.homepage, .contactpage, .aboutpage {
  position: absolute;
  margin-left: 6%;
  width: 94%;
  height: 90vh;
}
/* MAIN - HomePage */
#home-content {
  width: 50%;
  justify-content: center;
  flex-direction: column;
}
#home-content button {
  width: 30%;
  height: 40px;
  border-radius: 6px;
}
#home-content h2, p, button {
  margin: 20px 0;
}
/* HomePage - results */
#home-results{
  border: 1px solid orange;
  width: 50%;
  overflow-y: scroll;
  box-sizing: content-box;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#home-results::-webkit-scrollbar {
  display: none;
}
.card-container{
  background-color: var(--bg-grey);
  border-radius: 10px;
  margin: 10px 0;
  padding: 20px 0;
  width: 90%;

}
.card-container img, h4, p {
  width: 90%;
  margin-left: 4%;
}

.card-container img {
  border-radius: 10px 10px 0 0;
}

.card-container h4 {
  background-color: var(--white);
  padding: 6px;
  border-radius: 0 0 10px 10px;
}

/* MAIN - About Page */
.aboutpage {
  height: 90%;
  flex-direction: column;
  justify-content: space-evenly;
}
#about p {
  padding: 20px;
  margin-right: 20px;
  border-radius: 6px;
  background-color: var(--bg-grey);
  
}
.team-card{
  border-radius: 6px;
  background-color: var(--bg-grey);
  margin: 0 20px;
  padding: 12px;
}
.team-card h4{
  margin-left: 6px;
}
.team-card span{
  background-color: var(--white);
  padding: 6px;
  border-radius: 0 10px 10px 0;
}
/* MAIN - Contact Page */
.contactpage{
  height: 90%;
  justify-content: space-around;
  align-items: center;
}
.contact-form {
  background-color: var(--bg-grey);
  border-radius: 10px;
  padding: 20px;
  width: 60%;
}
.contact-form div {
  display: flex;
  flex-direction: column;
  margin: 20px 0;
}
.contact-form label {
  color: var(--white);
  margin-bottom: 6px;
}
.contact-form input, textarea {
  background-color: transparent;
  border: 1px solid var(--white);
  padding: 10px;
  border-radius: 10px;
}
.contact-form input::placeholder, textarea::placeholder{
  color: var(--darkgreen);
}
.contact-form button{
  height: 40px;
  border-radius: 6px;
  font-size: (var(--text-big));
}