*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style-type: none;
}

body {
  height: 100vh;;
  width: 100vw;
}

/* NAVBAR */
nav {
  background-color: #192727;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a, .title-container {
  text-decoration: none;
  color: white;
}

.title-container {
  display: flex;
}

.title-container i {
  transform: rotate(-40deg);
  font-size: 22px;
}

.link-container {
  width: 30%;
}

.link-container ul {
  display: flex;
  justify-content: space-around;
}

.link-container a {
  cursor: pointer;
}

.input-container {
  background-color: white;
  width: 34%;
  height: 40px;
  border-radius: 30px;
  display: flex;
}

.input-container ul {
  display: flex;
  align-items: center;
}

.input-container button {
  border: none;
  background-color: #007679;
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 60px;
  margin: 0 2px;
}

.input-container button:hover {
  cursor: pointer;
  color: #007679;
  background-color: white;
  transition: .4s;
  border: 1px solid #007679;
}

.input-container #searchIcon {
  color: #007679;
  margin-right: 6px;
}

.input-container #search-input {
  border: none;
  margin-left: 8px;
  width: 240px;
  height: 28px;
  color: #007679;
  outline: none;
}

.input-container #search-input::placeholder {
  color: #007679;
}

/* MAIN*/
main {
  background-image: 
  linear-gradient(0.25turn, rgba(0, 118, 121, .9), rgba(117, 19, 93, 0.1)),
  url('./media/city-skyline.jpg');
  height: 90vh;
  width: 100%;
  background-size: cover;
  display: flex;
}

/* ICONS */

.icons {
  height: 100%;
  width: 8%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.icons span {
  background-color: white;
  height: 260px;
  width: 1px;
  opacity: .8;
  margin: 40px 0;
}

.icons .fa-brands {
  color: white;
  font-size: 28px;
  opacity: .8;
  margin: 20px 0;
}

.icons .fa-brands:hover {
  cursor: pointer;
  opacity: 1;
}

/* PRESENTATION */
.presentation {
  width: 40%;
  margin-left: 80px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.presentation h2 {
  color: white;
  opacity: .9;
  font-size: 86px;
  margin-bottom: 60px;
}

.presentation p {
  color: white;
  opacity: .9;
  line-height: 26px;
  width: 60%;
  margin-bottom: 60px;
}

.presentation button {
  border: none;
  background-color: #007679;
  color: white;
  border-radius: 5px;
  height: 42px;
  width: 160px;
  border: 1px solid white;
}

.presentation button:hover {
  cursor: pointer;
  color: #007679;
  background-color: white;
  transition: .4s;
}

/* RESULTS */
#results {
  width: 40%;
  margin-top: 20px;
  overflow-y: scroll;
  box-sizing: content-box;
}

#results::-webkit-scrollbar {
  display: none;
}

.result-container {
  margin: 4px;
  height: 460px;
  background-color: white;
  border-radius: 10px;
  opacity: .8;
}

.result-img{
  background-image: url('./media/city-picture.jpg');
  background-size: cover;
  height: 64%;
  border-radius: 10px 10px 0 0;
}

.result-text{
  margin: 20px;
}

.result-text button {
  border: none;
  background-color: #007679;
  color: white;
  border-radius: 5px;
  height: 32px;
  width: 80px;
  border: 1px solid white;
}
