*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
  list-style-type: none;
}

body {
  height: 100vh;;
  width: 100vw;
}

/* NAVBAR */
nav {
  background-color: #192727;
  padding: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 10vh;
  
}
nav ul li {
  display: inline;
  margin-right: 10px;
}

nav a, .title-container {
  text-decoration: none;
  color: white;
}

.title-container {
  display: flex;
}

.title-container i {
  transform: rotate(40deg);
}

.input-container {
  background-color: white;
  width: 34%;
  height: 40px;
  border-radius: 30px;
  display: flex;
}

.input-container ul {
  display: flex;
  align-items: center;
}

.input-container button {
  border: none;
  background-color: #007679;
  color: white;
  border-radius: 5px;
  height: 28px;
  width: 60px;
  margin: 0 2px;
}

.input-container #searchIcon {
  color: #007679;
  margin-right: 6px;
}

.input-container #search-input {
  border: none;
  margin-left: 8px;
  width: 240px;
  height: 28px;
  color: #007679;
  outline: none;
}

.input-container #search-input::placeholder {
  color: #007679;
}

/* MAIN*/
main {
  background-image: 
  linear-gradient(0.25turn, rgba(0, 118, 121, .9), rgba(117, 19, 93, 0.1)),
  url('./city-skyline.jpg');
  height: 90vh;
  width: 100%;
  background-size: cover;
}